*{
    box-sizing: border-box;
}

body{
    font-family: 'Amatic SC', cursive;
    padding-top: 30%;
    max-width: 1300px;
    padding: 0px;
}

.container-fluid{
    padding: 0px;
    max-width: 1300px;
    width: 100%;
}

.navbar-fixed-top{
    padding-left: 2%;
    padding-top: 2%;
    background: rgb(209, 146, 190);
}

#logo{
    font-size: 300%;
    padding-top: 0px;
    padding-left: 5%;
    padding-bottom: 2%;
    text-align: center;
}

.form-control{
    margin-top: 5%;
}

.glyphicon{
    width: 10%;
  
}

.container-icons{
    text-align: center;
}

.second-bar-mobile{
    padding-top:20%;
    width: 100%;
}

.padding-0{
    padding: 0px;
}

#mobil-nav{
    padding-top:18%;
    margin:0 auto;
    text-align: center;
}

.newsfeed-global{
    padding-top: 10%;
   
}

.border{
border: 1px solid black;
}

.center{
text-align: center;
}



.user-photo{
    background-image: url("../assets/images/prueba.JPEG");
    border-radius: 50%;
    background-size: cover;
    background-repeat:no-repeat;
    width: 10em;
    height: 10em;
    border:solid black 1px; 
    text-align: center;
}

.left{
    text-align: left;
}



