*{
    box-sizing: border-box;
}

body{
    font-family: 'Amatic SC', cursive;
    padding-top: 30%;
    max-width: 1300px;
    padding: 5%;
}

.container-fluid{
    padding: 0px;
    max-width: 1300px;
    width: 100%;
}

.navbar-fixed-top{
    padding-left: 2%;
    padding-top: 2%;
    background: rgb(209, 146, 190);
}

#logo{
    font-size: 300%;
    padding-top: 0px;
    padding-left: 5%;
    padding-bottom: 2%;
    text-align: center;
}

#logo:hover{
   color:white;
   cursor: pointer;
}

.form-control{
    margin-top: 5%;
}



.container-icons{
    text-align: center;
}

.second-bar-mobile{
    padding-top:20%;
    width: 100%;
}

.padding-0{
    padding: 0px;
}

#mobil-nav{
    padding-top:18%;
    margin:0 auto;
    text-align: center;
}

.newsfeed-global{
    padding-top: 8%;
   
}

.border{
border: 2px solid black;
}

.center{
text-align: center;
}



.user-photo{
    background-image: url("../assets/images/prueba.JPEG");
    border-radius: 50%;
    background-size: cover;
    background-repeat:no-repeat;
    width: 10em;
    height: 10em;
    border:solid black 1px; 
    text-align: center;
}

.left{
    text-align: left;
}

#message-text:focus{
    outline: none;

}
.glyphicon{
    font-size: 150%;
    padding: 5%;
  
    
}

.glyphicon:hover{
    color:white;
    cursor: pointer;
  
    
}

.header-ciudad{
    font-size: 400%;
    padding-bottom: 5%;
}

.margin-left{
 margin-left: 3%;
}

#user-padding-publications{
    margin-bottom:10%;
    margin-top: 5%;
    text-align: center;
    padding-top:0px; 
}

#map{
    
    float: left;
}



.big-icon{
    font-size: 300%;
}

.cortar{
    width:200px;
    height:20px;
    padding:20px;
    
    text-overflow:ellipsis;
    white-space:nowrap; 
    overflow:hidden; 
  }
  .cortar:hover {
    width: auto;
    white-space: initial;
    overflow:visible;
    cursor: pointer;
  }

  p{
      font-size: 200%;
  }

  .img-thumbnail{
      height: 100%;
      width: 100%;
  }